@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.container {
  min-height: 100vh;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - $header-height);
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 3rem;
}

.info {
  margin-top: 20px;
  font-weight: 500;
  span {
    font-weight: 500;
    color: #f9e000;
    text-shadow: -0.4px 0 #3a3a3a, 0 0.4px #3a3a3a, 0.4px 0 #3a3a3a, 0 -0.4px #3a3a3a;
  }
}

.main {
  width: 500px;
  margin-top: 60px;

  form {
    padding: 3rem;
    border: 1px solid var(--color-border);
    border-radius: 16px;
  }
}

.sub {
  height: 21px;
  font-size: 18px;
  font-weight: 700;
}

.inputContainer {
  padding: 1rem 0;
}

.input {
  width: 375px;
  padding: 11px;
  border-radius: 5px;
  background-color: var(--color-bg1);
  color: var(--color-text1);
  border: 1px solid var(--color-border);
  outline: none;

  &:focus {
    border: 2px solid var(--color-input-focus);
    outline-style: none;
  }
}

.button {
  width: 100%;
  height: 51px;
  border-radius: 5px;
  background-color: #6636da;
  font-size: medium;
  font-weight: 400;
  color: white;
  border: none;
  outline: none;

  &:hover {
    background-color: rgba(#6636da, 0.8);
    cursor: pointer;
  }
}

.emptyWarning {
  height: 21px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}
