$large-font-size: 18px;
$middle-font-size: 16px;

.container {
  color: #555555;

  div {
    div .logoCircle {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 10px;
      width: 36px;
      height: 36px;
      border-radius: 36px;

      background-color: #f5f5f5;
    }
    .logoLine {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      line-height: 50px;

      .logoBlock {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: $middle-font-size;
      }
      .logoText {
        font-size: $middle-font-size;
      }
    }

    .paragraphTitle {
      color: #000000;
      font-size: $large-font-size;
      font-weight: 600;

      margin: 40px 0;
    }

    .paragraph {
      font-size: $middle-font-size;
      font-weight: 400;

      line-height: 24px;
      white-space: pre-wrap;

      div {
        max-width: 100%;
      }

      p {
        max-width: 100%;
      }

      img {
        max-width: 100%;
        max-height: 80%;
      }

      ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }

      ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }

      li {
        display: list-item;
        text-align: -webkit-match-parent;
      }

      strong {
        font-weight: bold;
      }

      em {
        font-style: italic;
      }

      pre {
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
        background-color: #23241f;
        color: #f8f8f2;
        overflow: visible;
      }
    }
  }
}

@media (max-width: 768px) {
}
