.container {
  margin-bottom: 30px;

  div:nth-child(1) {
    margin-bottom: 20px;

    .category {
      margin-right: 8px;
      padding: 2px 6px 2px 6px;
      color: rgb(148 163 184);
      font-size: 16px;
      border-radius: 4px;
      background-color: rgb(241 245 249);
    }
  }

  div:nth-child(2) {
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 600;

    .statusRecruiting {
      color: #6636da;
    }
    .statusDone {
      color: #95a4b0;
    }
    .after {
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 400;
      color: #d0d8de;
    }

    .title {
      line-height: 40px;
    }
    .new {
      display: inline-block;
      margin: 0 6px;

      color: #854ff2;
      font-size: 18px;
    }
  }

  div:nth-child(3) {
    color: rgb(148 163 184);
  }
}
@media (max-width: 768px) {
}
