@import '/src/variables.scss';

.container {
  box-sizing: border-box;

  width: 300px;
  margin-top: 16px;
  border-radius: 6px;

  .bookmarkButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 50px;
    border-radius: 6px;

    border: $main-color solid 1px;
    background-color: rgba(255, 255, 255, 0);

    font-size: 18px;
    color: $main-color;

    cursor: pointer;

    transition: box-shadow 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 3px #9878e5;
    }

    .bookmarkNot {
      width: 22px;
      stroke: $main-color;
    }

    .bookmarkYes {
      width: 22px;
      stroke: $main-color;
      fill: $main-color;
    }

    .bookmarkName {
      padding-bottom: 3px;
    }
  }

  .bookmarkUserBox {
    display: flex;
    align-items: center;

    margin: 10px 0;
    height: 20px;

    .bookmarkUserImages {
      position: relative;
      margin-right: 6px;
      .bookmarkUserImageCircle {
        position: absolute;
        top: -10px;
        left: 5px;

        width: 18px;
        height: 18px;
        border-radius: 18px;
        border: 1px white solid;
        overflow: hidden;
        .bookmarkUserImage {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }
    .bookmarkText {
      height: 13px;
      font-size: 13px;
      margin-bottom: 1px;
      color: rgb(118, 133, 154);
    }
  }
}

@media (max-width: 768px) {
}
