@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.modalContainer {
  width: 99%;
  height: 160px;
  border-radius: 6px;
  border: 2px solid var(--color-border);
  background-color: var(--color-bg1);

  margin-top: 10px;

  overflow-y: overlay;

  /* WebKit 기반 브라우저용 스크롤바 숨김 */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

  /* Firefox 용 스크롤바 숨김 */
  scrollbar-width: none;
  -moz-appearance: none;

  /* IE 및 엣지 브라우저용 스크롤바 숨김 */
  -ms-overflow-style: none;
  scrollbar-width: none;

  .arrowContainer {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;

    pointer-events: none;

    margin-top: -160px;
    margin-left: calc(100% - 25px);
    text-align: right;
    width: 100%;
    height: 100%;

    .upLogo {
      width: 25px;
      height: 25px;

      color: var(--color-border);
    }
    .downLogo {
      width: 25px;
      height: 25px;
      margin-top: auto;

      color: var(--color-border);
    }
  }

  .userContainer {
    display: flex;
    align-items: center;

    padding: 10px 10px;
    height: 60px;

    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: white;

      margin-right: 10px;
    }
  }
}

.modalContainerNot {
  @extend .modalContainer;
  display: none;
}

.modalContainerOn {
  @extend .modalContainer;
}

.container {
  box-sizing: border-box;

  width: 100%;
  margin-top: 16px;
  border-radius: 6px;

  .bookmarkButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    border-radius: 6px;

    border: var(--color-pink) solid 1px;
    background-color: rgba(255, 255, 255, 0);

    font-size: 18px;
    color: var(--color-pink);

    cursor: pointer;

    transition: box-shadow 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 3px #9878e5;
    }

    .bookmarkNot {
      width: 22px;
      stroke: var(--color-pink);
    }

    .bookmarkYes {
      width: 22px;
      stroke: var(--color-pink);
      fill: var(--color-pink);
    }

    .bookmarkName {
      padding-bottom: 3px;
    }
  }

  .bookmarkUserBox {
    display: flex;
    align-items: center;

    margin-top: 10px;
    height: 20px;

    cursor: pointer;
    .bookmarkUserImages {
      position: relative;
      margin-right: 6px;
      .bookmarkUserImageCircle {
        position: absolute;
        top: -10px;
        left: 5px;

        width: 18px;
        height: 18px;
        border-radius: 18px;
        border: 1px var(--color-bg1) solid;
        overflow: hidden;
        .bookmarkUserImage {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }
    .bookmarkText {
      height: 13px;
      font-size: 13px;
      margin-bottom: 1px;
      color: var(--color-text2);
    }
  }
}

@media (max-width: 768px) {
}
