@import '/src/variables.scss';

@mixin button-style {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 50px;
  border-radius: 6px;

  border: $main-color solid 1px;
  background-color: rgba(255, 255, 255, 0);

  font-size: 18px;
  color: $main-color;

  margin-bottom: 16px;
}

.container {
  box-sizing: border-box;

  width: 300px;
  margin-top: 16px;
  padding-top: 16px;

  border-top: 1px solid $gray-text-color;

  .recruitmentButton {
    @include button-style;

    cursor: pointer;
  }
}

@media (max-width: 768px) {
}
