$large-font-size: 18px;
$middle-font-size: 16px;

.container {
  color: #555555;

  div {
    div .logoCircle {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 10px;
      width: 36px;
      height: 36px;
      border-radius: 36px;

      background-color: #f5f5f5;
    }
    .logoLine {
      display: flex;
      align-items: center;

      .logoBlock {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: $middle-font-size;
      }
      .logoText {
        font-size: $middle-font-size;
      }
    }

    .paragraphTitle {
      color: #000000;
      font-size: $large-font-size;
      font-weight: 600;

      margin: 40px 0;
    }

    .paragraph {
      font-size: $middle-font-size;
      font-weight: 400;
    }
  }
}

@media (max-width: 768px) {
}
