@import '/src/variables.scss';
@import '../Editor/Editor.module.scss';
$large-font-size: 18px;
$middle-font-size: 16px;

@mixin subtitle {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 40px;
}

@mixin btn {
  width: 300px;
  height: 50px;
  border-radius: 7px;
  font-size: 17px;
}

h2 {
  @include subtitle;
}

.container {
  margin: 0 auto;
  width: 1024px;
  border: 1px solid rgb(234, 234, 234);
  display: grid;
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 90px;
  grid-template-columns: 700px 324px;
  @include basicCSS;
}

.leftContainer {
  display: grid;
  margin: 20px 0 10px 20px;
  grid-template-areas:
    'title'
    'summary'
    'stack'
    'mainText';
  row-gap: 30px;

  .title {
    margin-bottom: 30px;
    width: 630px;
    h2 {
      width: 100%;
      font-weight: 700;
      font-size: 26px;
      margin-top: 10px;
      margin-bottom: 20px;
      color: $main-color;
      line-height: 50px;
      white-space: pre-wrap;
      word-break: break-all;
    }
    span {
      color: #999999;
    }
  }

  .summary {
    margin-bottom: 20px;
    width: 630px;
    .paragraph {
      width: 90%;
      font-size: $middle-font-size;
      font-weight: 400;
      line-height: 24px;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .stack {
    margin: 80px 0;
    width: 630px;
    .logoCircle {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 10px;
      width: 36px;
      height: 36px;
      border-radius: 36px;

      background-color: #f5f5f5;
    }
    .logoLine {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      line-height: 50px;

      .logoBlock {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: $middle-font-size;
      }
      .logoText {
        font-size: $middle-font-size;
      }
    }
  }

  .mainText {
    margin-bottom: 40px;
    //width: 630px;
    width: 1000px;
    .paragraph {
      font-size: $middle-font-size;
      font-weight: 400;
      line-height: 24px;
      white-space: pre-wrap;
      margin-left: 15px;

      p {
        max-width: 90%;
        word-break: break-all;
      }

      img {
        max-width: 90%;
        max-height: 80%;
      }

      ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }

      ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }

      li {
        display: list-item;
        text-align: -webkit-match-parent;
      }

      strong {
        font-weight: bold;
      }

      em {
        font-style: italic;
      }

      pre {
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
        background-color: #23241f;
        color: #f8f8f2;
        overflow: visible;
      }
    }
  }
}

.rightContainer {
  margin: 50px 0 10px 10px;
  width: 300px;

  .bookmark {
    margin-bottom: 30px;
  }

  .link {
    margin-bottom: 30px;
    
    .linkButton {
      @include btn;
      width: 100%;

      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      border-style: none;
      background-color: rgba($color: #49b634, $alpha: 0.8);

      color: white;
      &:hover {
        background-color: rgba($color: #49b634, $alpha: 0.5);
      }

      .logo {
        width: 15px;
        height: 15px;
      }
      span {
        padding-left: 10px;
      }
    }
  }
  .share {
    margin-bottom: 30px;
  }
  .participate {
    margin-top: 60px;

    .participateBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 98%;
      height: 50px;
      border-radius: 7px;
      cursor: pointer;

      &::before {
        content: '';
      }

      border: 3px solid transparent;
      transition: border-color 0.5s ease-in-out;
      animation: borderAnimation 3s ease-in-out infinite;

      h2 {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        &:hover {
          scale: 1.1;
        }
      }
    }

    .userBox {
      max-height: 170px;
      overflow-y: scroll;

      border: 2px solid #f5f5f5;
      border-radius: 9px;

      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 300px;

      &::-webkit-scrollbar {
        display: block;
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: gray;
      }
      &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
      }

      .userInfoBox {
        padding: 0.4rem 0;
        .imgLink {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 20px;
        }

        img {
          padding-right: 5px;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
        cursor: pointer;

        .userInfo {
          p {
            margin: 5px;
            font-size: 15px;

            &:nth-child(1) {
              font-weight: 700;
              font-size: 17px;
              color: black;
            }
            &:nth-child(2) {
              font-weight: 600;
              color: rgb(140, 114, 202);
            }
            &:nth-child(3) {
              font-weight: 600;
              color: rgb(100, 100, 105);
            }
          }
        }
      }
    }
  }
}

@keyframes borderAnimation {
  0% {
    border-color: #ee7752;
  }
  10% {
    border-color: #ffa279;
  }
  20% {
    border-color: #a581d8;
  }
  30% {
    border-color: #7ea9e6;
  }
  40% {
    border-color: #5ac7e5;
  }
  50% {
    border-color: #24c0b7;
  }
  60% {
    border-color: #23d5ab;
  }
  70% {
    border-color: #5ac7e5;
  }
  80% {
    border-color: #7ea9e6;
  }
  90% {
    border-color: #a581d8;
  }
  100% {
    border-color: #ee7752;
  }
}

/* 로딩 css */
.loadingContainer {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(234, 234, 234);
  background-color: #ecececcc;
  z-index: 9999999;

  .loading {
    display: inline-block;
    position: relative;
    left: 45%;
    top: 45%;
    width: 80px;
    height: 80px;

    div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }

      &:nth-child(1) {
        animation-delay: -0.036s;

        &:after {
          top: 63px;
          left: 63px;
          background-color: #7410d0;
        }
      }

      &:nth-child(2) {
        animation-delay: -0.072s;

        &:after {
          top: 68px;
          left: 56px;
          background-color: #8b00ff;
        }
      }

      &:nth-child(3) {
        animation-delay: -0.108s;

        &:after {
          top: 71px;
          left: 48px;
          background-color: #a648ff;
        }
      }

      &:nth-child(4) {
        animation-delay: -0.144s;

        &:after {
          top: 72px;
          left: 40px;
          background-color: #bd71ff;
        }
      }

      &:nth-child(5) {
        animation-delay: -0.18s;

        &:after {
          top: 71px;
          left: 32px;
          background-color: #d195ff;
        }
      }

      &:nth-child(6) {
        animation-delay: -0.216s;

        &:after {
          top: 68px;
          left: 24px;
          background-color: #e2b9ff;
        }
      }

      &:nth-child(7) {
        animation-delay: -0.252s;

        &:after {
          top: 63px;
          left: 17px;
          background-color: #f1dcff;
        }
      }

      &:nth-child(8) {
        animation-delay: -0.288s;

        &:after {
          top: 56px;
          left: 12px;
          background-color: #ffffff;
        }
      }
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
