@import '/src/variables.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@mixin subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

@mixin helpbox {
  margin-left: 100px;
  width: 320px;
  height: 80px;
  border: 1px solid $gray-back-color;
  border-radius: 10px;
  background-color: $gray-back-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin helpP {
  margin: 30px;
  font-size: 13px;
  line-height: 19px;
}

.printHtmlCode {
  margin: 20px;
}

input {
  font-weight: 600;
  padding: 6px;
  &::placeholder {
    color: #ccc;
  }
}

textarea {
  font-weight: 500;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border-style: none;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  &::placeholder {
    color: #ccc;
  }
}

h2 {
  @include subtitle;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  border: 1px solid rgb(234, 234, 234);
  display: grid;
  padding: 20px;
  grid-template-areas:
    'title titleHelp'
    'summary summaryHelp'
    'checkRadioBox .'
    'introduce introduceHelp'
    'stack .';
}

.title {
  grid-area: title;
  .type {
    display: flex;
    width: 85px;
    height: 20px;
    background-color: $main-color;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    p {
      font-size: 11px;
      font-weight: 600;
      text-align: center;
    }
  }
}

.titleHelpBox {
  @include helpbox;
  margin-top: 15px;
  p {
    @include helpP;
  }
}
.summaryHelpBox {
  @include helpbox;
  margin-top: 20px;
  p {
    @include helpP;
  }
}
.introHelpBox {
  @include helpbox;
  margin-top: 10px;
  height: 260px;
  p {
    @include helpP;
  }
}

.titleTextarea {
  font-size: 2rem;
  height: 58px;
  border-style: none;
  margin: 20px 0;
}
.maxLengthTitle {
  border-style: solid;
  border-color: red;
  background-color: rgba($color: #e00c0c50, $alpha: 0.1);
}

.summaryBox {
  margin-top: 10px;
  .summaryTextarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border-style: none;
    font-size: 16px;
    resize: none;
  }
}
.maxLengthSummary {
  border-style: solid;
  border-color: red;
  background-color: rgba($color: #e00c0c50, $alpha: 0.1);
}

.role {
  margin-bottom: 20px;
}
.checkbox {
  margin-top: 10px;
  margin-bottom: 40px;
  div {
    display: inline;
    padding-right: 15px;
    label {
      padding-left: 4px;
    }
  }
  input,
  progress {
    accent-color: $main-color;
  }
}

.goal {
  margin-bottom: 20px;
}
.radioBox {
  margin-top: 10px;
  margin-bottom: 40px;
  input,
  progress {
    accent-color: $main-color;
  }
}

.stack {
  border: 2px solid $main-color;
  width: 200px;
  height: 40px;
}

.timeBox {
  display: flex;

  .time {
    margin-right: 5px;
  }
}

.submitButton {
  width: 120px;
  height: 40px;
  margin: 10px 20px 10px 0;
  font-size: 18px;
  font-weight: 600;
  background-color: $main-color;
  color: white;
  border-color: $main-color;
  border-radius: 8px;
}

.essential {
  padding-left: 4px;
  color: red;
}

.editorBox {
  img {
    max-width: 100%;
    max-height: 80%;
  }
}

/*여기서부터 말풍선 css*/

.speechBubble {
  position: relative;
  display: inline-block;

  .svg {
    width: 20px;
    height: 20px;

    &:hover + .arrowBox {
      visibility: visible;
      opacity: 1;
    }
  }

  .arrowBox {
    visibility: hidden;
    width: 190px;
    max-width: 220px;
    font-size: 14px;
    padding: 8px;
    background-color: $main-color;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .arrowBox::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: $main-color transparent transparent transparent;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
