@use '/src/theme.scss' as *;

.profileContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  .imageWrapper {
    display: flex;
    justify-content: space-between;

    .image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 100px;
    }

    .updateButton {
      width: 70px;
      height: 50px;
      font-size: 18px;
      font-weight: 600;
      border: 1.6px solid var(--color-pink);
      border-radius: 4px;
      color: var(--color-pink);
      background-color: var(--color-bg1);
      cursor: pointer;
    }
  }
  

  .introWrapper {
    margin-top: 2.6rem;

    .name {
      font-size: 30px;
      font-weight: 500;
      margin: 0.8rem 0;
      line-height : 3rem;
    }
    
    .intro {
      color: var(--color-text2);
      margin-bottom: 3rem;
      line-height : 2rem;
    }

    .career {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.2rem;
      line-height : 2rem;

      & > svg {
        margin-right: 0.8rem;
      }
    }

    .emptyCareer {
      color: var(--color-text2);
      opacity: 0.4;
    }
    
    .stacks {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 1rem;

      & > svg {
        margin-right: 0.8rem;
        margin-bottom: 1rem;
      }
      
      .stack {
        position: relative;
        margin: 0 1rem 1rem 0;
        padding: 6px;
        color: var(--color-text2);
      }

      .stack::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-text2);
        opacity: 0.2;
        border-radius: 4px;
      }

      .emptyStack {
        margin-bottom: 1rem;
        color: var(--color-text2);
        opacity: 0.4;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profileContainer {
    padding: 2rem 2rem 0 2rem;

    .imageWrapper { 

      .image {
        width: 80px;
        height: 80px;
      }

      .updateButton {
        width: fit-content;
        height: fit-content;
        font-size: 1rem;
      }
    }

    .introWrapper {
      margin-top: 1rem;

      .name {
        font-size: 1rem;
        line-height: 1rem;
      }

      .intro {
        font-size: 1rem;
        line-height: 1rem;
      }

      .career {
        font-size: 0.9rem;
        line-height: 1rem;
      }

      .emptyCareer {
        font-size: 0.9rem;
      }

      .emptyStack {
        font-size: 0.9rem;
      }

      .stacks {
        .stack {
          font-size: 0.8rem;
        }
      }
    }
  }
}