@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.container {
  display: flex;

  .leftContainer {
    width: 70%;
    padding: 32px;
  }
  .rightContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    padding: 48px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    .leftContainer {
      padding: 32px 10px;
      width: 90vw;
    }
    .rightContainer {
      border-top: 1px solid var(--color-border);
      padding: 40px 20px;
      width: 90vw;
    }
  }
}
