@import '/src/variables.scss';

.loadingLogo {
  margin-top: $header-height;

  @keyframes loading {
    from {
      color: #95a4b0;
    }
    50% {
      color: #d0d8de;
    }
    to {
      color: #95a4b0;
    }
  }

  animation: loading 0.8s 0.3s infinite;
}

.container {
  display: flex;
  margin: $header-height 0;

  .leftContainer {
    width: 700px;
    padding: 32px;
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 324px;
    padding: 48px 32px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
