@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.newPosts {
  margin: 40px 0;
  position: relative;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleTextWrapper {
      & > h1 {
        font-size: 24px;
        font-weight: 600;
        padding: 1rem 0;
        color: var(--color-text1);
      }

      & > p {
        font-size: 14px;
        padding-bottom: 2rem;
        color: var(--color-text3);
      }
    }
  }
  .ButtonContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    .arrowButton {
      flex: 1;
      button {
        border: none;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
        color: var(--color-text1);
        &:disabled {
          color: var(--color-text3);
        }
      }
    }
    .toAllButton {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.2s;
      color: var(--color-text1);
    }
  }
  .slideArea {
    width: 1024px;
    overflow: hidden;

    .projectList {
      display: flex;
      transition: transform 0.5s ease-in-out;
      a {
        text-decoration: 0;
        color: var(--color-text1);
      }
    }

    .projectContainer {
      flex: none;
      width: 500px;
      margin-right: 12px;
      cursor: pointer;

      .project {
        position: relative;
        box-sizing: border-box;
        height: 240px;
        padding: 20px;
        padding: 24px 24px 24px 24px;
        border: 1px solid var(--color-border);
        border-radius: 16px;

        &:hover {
          border-color: var(--color-border-hover);
          box-shadow: 0 0 15px var(--color-border);
        }

        .type {
          margin-right: 8px;
          padding: 4px 6px 4px 6px;
          color: var(--color-text3);
          font-size: 14px;
          border-radius: 4px;
          background-color: var(--color-bg2);
        }

        .goal {
          padding: 4px 6px 4px 6px;
          color: var(--color-text3);
          font-size: 14px;
          border-radius: 4px;
          background-color: var(--color-bg2);
        }

        .summary {
          margin: 1rem 0;
          line-height: 1.3rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .role {
          display: flex;
          margin: 1rem 0;
          & > p {
            margin-right: 0.4rem;
            font-size: 12px;
            padding: 4px 8px;
            border: 1px solid var(--color-pink);
            background-color: unset;
            color: var(--color-pink);
            border-radius: 30px;
          }
        }

        .titleWrapper {
          display: flex;
          margin: 1.4rem 0;
          font-size: 20px;

          .title {
            font-weight: 500;
            line-height: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .newTag {
            align-self: center;
            font-size: 14px;
            color: var(--color-pink);
            margin-left: 0.6rem;
          }
        }

        .viewWrapper {
          position: absolute;
          bottom: 24px;

          & > * {
            font-size: 14px;
          }

          .count {
            margin: 0 0.4rem;
            color: var(--color-text2);

            &::after {
              margin-left: 4px;
              margin-right: 4px;
              content: '·';
            }
            &:last-child::after {
              content: none;
            }
          }
        }
      }
    }
  }
}

.noContent {
  height: 220px;
  width: 100%;
  background-color: var(--color-bg2);
  line-height: 1.5rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .newPosts {
    width: 100vw;
    .titleContainer {
      .titleTextWrapper {
        & > h1 {
          font-size: 1rem;
        }
        & > p {
          font-size: 0.8rem;
          padding: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .slideArea {
    width: 100vw;

    .projectList {
      width: 100vw;
      margin: 0;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        height: 30%;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--color-bg2);
        border-radius: 8px;
      }

      .projectContainer {
        width: 336px;
        margin-bottom: 1rem;

        .titleWrapper {
          margin: 0;
          .title {
            font-size: 1rem;
          }
        }

        .project {
          height: 150px;
          padding: 0 0.8rem;

          .summary {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .noContent {
    width: 100%;
    line-height: 1.5rem;
    font-size: 16px;
  }
}
