@import '/src/variables.scss';

.container {
  margin: $header-height 0;
  width: 1024px;
}

@media (max-width: 768px) {
  .container {
    margin: $header-height 0;
    width: 500px;
  }
}

@media (max-width: 480px) {
  .container {
    margin: $header-height 0;
    width: 300px;
  }
}
