@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.listContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-bottom: 32px;
  flex-direction: column;
  gap: 1rem;
  padding: 24px 24px 24px 24px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  background-color: var(--color-bg1);
  cursor: pointer;

  .topContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    div:nth-child(1) {
      .type {
        margin-right: 8px;
        padding: 4px 6px 4px 6px;
        color: var(--color-text3);
        font-size: 12px;
        border-radius: 4px;
        background-color: var(--color-bg2);
      }
      .goal {
        padding: 4px 6px 4px 6px;
        color: var(--color-text3);
        font-size: 12px;
        border-radius: 4px;
        background-color: var(--color-bg2);
      }
    }
    div:nth-child(2) {
      display: flex;
      gap: 12px;
      align-items: center;
      .participationTime {
        align-self: c;
        font-size: 14px;
        color: var(--color-text2);
      }
      .bookmarkButton {
        display: flex;
        border: none;
        padding: 6px 8px;
        background-color: unset;
        cursor: pointer;
        svg {
          font-size: 14px;
          color: var(--color-pink);
        }
      }
    }
  }
  .secondContainer {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 2rem;
    .status.recruiting {
      color: var(--color-green);
    }
    .status.done {
      color: var(--color-text2);
    }
    .status::after {
      margin-left: 8px;
      margin-right: 8px;
      content: '|';
      font-weight: 400;
      color: var(--color-border);
    }
    .title {
      word-break: break-all;
      display: inline;
    }
    .newTag {
      margin-left: 8px;
      align-self: center;
      font-size: 14px;
      color: var(--color-blue);
    }
  }

  .summary {
    word-break: break-all;
    width: inherit;
    font-size: 16px;
    line-height: 1.6rem;
  }

  .roleContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    li {
      font-size: 14px;
      padding: 6px 12px;
      border: 1px solid var(--color-pink);
      background-color: unset;
      color: var(--color-pink);
      border-radius: 30px;
    }
  }

  .stacksContainer {
    word-break: break-all;
    display: inline;
    line-height: 1.5rem;
    font-size: 14px;
    color: var(--color-text3);
    font-weight: 500;
    span {
      display: inline;
      width: fit-content;
    }

    span::after {
      display: inline;
      margin-left: 8px;
      margin-right: 8px;
      content: '|';
      color: var(--color-text3);
    }
    li::after {
      margin-left: 8px;
      margin-right: 8px;
      content: '/';
    }
    li:last-child::after {
      content: none;
    }
    ul {
      display: inline;
    }
    ul > li {
      display: inline;
    }
  }

  .countContainer {
    display: flex;
    font-size: 12px;
    color: var(--color-text3);
    li {
      span:nth-child(1) {
        margin-right: 4px;
      }
    }
    li::after {
      margin-left: 4px;
      margin-right: 4px;
      content: '·';
    }
    li:last-child::after {
      content: none;
    }
  }
}

.listContainer:hover {
  border-color: var(--color-border);
  box-shadow: 0 0 15px var(--color-border);
}

.mobileListContainer {
  padding: 14px;
  gap: 0.8rem;
  margin-bottom: 20px;

  .secondContainer {
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.6em;
  }
  .summary {
    font-size: 14px;
    line-height: 1.5em;
  }
  .topContainer {
    div:nth-child(1) {
      text-align: center;
      .type {
        display: inline-block;
        margin-left: auto;
      }
      .goal {
        margin-top: 6px;
        display: inline-block;
      }
    }
  }

  .roleContainer {
    li {
      font-size: 13px;
    }
  }
}
