@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.container {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: start;
  .leftContainer {
    box-sizing: content-box;
    padding-left: 24px;
    .leftContentContainer {
      width: 240px;
      position: sticky;
      top: $header-height;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
  .rightContainer {
    box-sizing: border-box;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    .searchContainer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: sticky;
      top: $header-height;
      padding: 50px 0 12px 0;
      background-color: var(--color-bg1);
      box-shadow: 0 15px 10px var(--color-bg1);
    }
  }
}

.mobileContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  .leftContainer {
    width: 100vw;
    position: sticky;

    .leftContentContainer {
      width: 100%;
    }
  }
  .rightContainer {
    margin: 0px 16px;
    .searchContainer {
      margin: 8px 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
