@use './src/theme.scss' as *;
.container {
  position: absolute;
  height: fit-content;
  z-index: 9999;
  .contentsContainer {
    background-color: var(--color-bg1);
    padding: 18px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px var(--color-bg2);
    border-radius: 8px;
  }
  .closeContainer {
    display: flex;
    justify-content: end;
    button.close {
      margin-left: auto;
      width: 32px;
      height: 32px;
      border: none;
      background-color: unset;
    }
  }
}

.container.left {
  transform: translateX(-120%) translateY(20%);
}

.container.right {
  transform: translateX(-20%) translateY(20%);
}
