.container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 18px 18px 18px 18px;
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.168);
  border-radius: 8px;
  .close {
    margin-left: auto;
    width: 32px;
    height: 32px;
  }
}
