@use './src/theme.scss' as *;
.modalContainer {
  transform: translateX(24px) translateY(-10px);
  .modalList {
    width: 60px;
    li {
      cursor: pointer;
      color: var(--color-text2);
      padding: 4px;
      display: flex;
      gap: 4px;
      &:hover {
        color: var(--color-text1);
      }
    }
  }
}
