@import '../../variables.scss';
@mixin profileStyle {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #f1f3f5;
}
@mixin textareaStyle {
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: 16px;
  margin: 20px 0;
  height: 120px;
  &:focus {
    border: 2px solid #dfd6ff;
    outline-style: none;
  }
}

.commentContainer {
  background-color: #f7f8fa;
  padding: 24px 0;
  position: relative;
  margin: 0 calc((100vw - 100%) * -0.5);
}
.commentCount {
  margin: 24px auto 40px;
  width: 686px;
  font-size: 18px;
  font-weight: 700;
  strong {
    color: $main-color;
  }
}
.inputArea {
  margin: 0 auto;
  width: 686px;
  input {
    box-sizing: border-box;
    margin: 20px 0 40px 0;
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    border: 1px solid #ced4da;
    border-radius: 8px;
  }
  input:focus {
    outline-style: none;
  }
  .loggedInInput {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      @include profileStyle;
    }
  }
  .commentInputArea {
    margin-bottom: 40px;
    textarea {
      @include textareaStyle;
      margin: 20px 0;
    }
  }
}
.commentList {
  margin: 0 auto;
  padding: 0;
  width: 686px;
  .comment {
    background-color: white;
    border: 1px solid #f1f3f5;
    border-radius: 8px;
    list-style: none;
    padding: 20px 32px;
    margin-bottom: 20px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #f1f3f5;
      gap: 16px;
      img {
        @include profileStyle;
      }
      p {
        color: #abb0b5;
        font-size: 13px;
        margin-top: 8px;
      }
      .subHeader {
        flex-direction: column;
        flex: 1;
        a {
          font-weight: 500;
          text-decoration: none;
          color: black;
          :hover {
            text-decoration: underline;
            color: #454545;
          }
        }
      }
      .dotIcon {
        color: #abb0b5;
        align-self: flex-end;
      }
    }
    textarea {
      @include textareaStyle;
    }
    .content {
      padding: 20px 0;
      border: 0;
      margin: 0;
      &:focus {
        border: 0;
        outline-style: none;
      }
    }
  }
}
.noComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
  gap: 20px;
  img {
    width: 100px;
  }
  p {
    color: #ced4da;
    font-weight: 700;
    line-height: 160%;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
@mixin buttonStyle {
  width: 56px;
  height: 40px;
  border-radius: 4px;
  padding: 6px 12px;
}
.defaultButton {
  @include buttonStyle;
  color: white;
  background-color: $main-color;
  border: 0;
}
.lineButton {
  @include buttonStyle;
  background-color: white;
  border: 1px solid #ced4da;
}
