@use '/src/theme.scss' as *;

.container {
  border-top: 1px solid var(--color-border);
  background-color: var(--color-bg2);
  padding-top: 1.4rem;
  min-height: 480px;

  .topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contentCount {
    color: var(--color-text3);
    font-weight: 500;
    padding-left: 0.8rem;
  }
}

.noComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;

  .image {
    width: 100px;
    height: 100px;
  }

  .noContent {
    color: var(--color-text2);
    margin-top: 2rem;
  }
}

.comments {
  padding: 2rem;
  min-height: 360px;

  .commentWrapper {
    border: 1px solid var(--color-border);
    border-radius: 16px;
    background-color: var(--color-bg1);
    padding: 1.4rem;
    cursor: pointer;
    margin: 2rem 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:hover {
      border-color: var(--color-border-hover);
      box-shadow: 0 0 15px var(--color-border);
    }

    .title {
      color: var(--color-text2);
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 1rem;
    }

    .comment {
      font-size: 18px;
      padding-bottom: 1rem;
      font-weight: 600;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .createdAt {
      color: var(--color-text2);
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .contentCount {
      margin-left: 10px;
    }
  }

  .comments {
    padding: 1.4rem;
    .commentWrapper {
      margin: 1.4rem 0;
      .title {
        font-size: 0.8rem;
      }
      .comment {
        font-size: 0.9rem;
      }
      .createdAt {
        font-size: 0.8rem;
      }
    }
  }
}
