.container {
  padding-right: 0.8rem;
  align-items: center;
  select {
    border-radius: 4px;
    padding: 6px 16px 6px 6px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg1);
    color: var(--color-text1);
    cursor: pointer;
  }
}
