@import '/src/variables.scss';
$grey: #64748B;

.listContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background-color: #ffff;
  cursor: pointer;

  .topContainer {
    width: 300px;
    height: 160px;

    & > img {
      border-radius: 16px 0 0 16px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contentContainer {
    padding: 24px;
    width: 500px;
    display: flex;
    flex-direction: column;

    .titleContainer {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 550;
      
      .titleWrapper {
        width: 360px;
        display: flex;
        flex-direction: row;
        
        .title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .newTag {
          margin-left: 8px;
          font-size: 14px;
          color: $blue;
        }
      }
    }
    
    &:nth-child(2) {
      .bookmarkButton {
        display: flex;
        border: none;
        padding: 6px 8px;
        background-color: unset;
        cursor: pointer;
        svg {
          font-size: 14px;
          color: $main-color;
        }
      }
    }
    .summary {
      width: 400px;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5rem 0;
    }
    
    .createdAt {
      color: $grey;
      font-weight: 100;
      margin-top: 1.5rem;
    }
  }
}

.listContainer:hover {
  border-color: #d0dee0;
  box-shadow: 0 0 15px #e2eaf1;
}