@use '/src/theme.scss' as *;

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  & > div {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: var(--color-text3);
    padding-bottom: 1.2rem;

    &:hover {
      color: var(--color-text1);
      border-bottom: 2px solid var(--color-text1);
    }
  }
  
  & > div.active {
    color: var(--color-text1);
    border-bottom: 2px solid var(--color-text1);
  }
}

@media screen and (max-width: 375px) {
  .container {
    & > div {
      font-size: 0.8rem;
      padding-bottom: 1rem;
    }
  }
}