@import '/src/variables.scss';

.container {
  display: flex;
  align-items: center;

  height: 90px;
  .searchBox {
    display: flex;
    align-items: center;

    font-size: 16px;

    border-radius: 30px;
    border: 1px solid #e8e8e8;
    padding: 0 20px;
    width: 25%;
    height: 50px;

    transition: all 0.5s;

    &:focus-within {
      width: 35%;
      border-color: #d0dee0;
      box-shadow: 0 0 15px #e2eaf1;
    }

    &::placeholder {
    }

    span {
      display: flex;
      align-items: center;

      font-size: 20px;

      width: 40px;
      height: 34px;
      border: none;
      background-color: unset;

      margin-right: 4px;
      padding-bottom: 4px;
    }
    input {
      width: 100%;
      padding: 4px 0;
      border: none;
    }
    input:focus {
      outline: none;
    }
  }
  .postButton {
    margin-left: auto;
    padding: 12px;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    color: aliceblue;

    background-color: #6636da;

    cursor: pointer;
  }
}
