@import '/src/variables.scss';

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
  .noContent {
    margin-bottom: 100vh;
    box-sizing: border-box;
    width: 1024px;
    height: 350px;
    background-color: rgb(230, 237, 239);
    display: flex;
    border-radius: 12px;
    .noneContent {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      color: rgb(70, 82, 82);
      font-weight: 500;
      align-self: center;
      text-align: center;
    }
  }
}
.observer {
  height: 20px;
  margin: 10px 0;
  margin-bottom: 100vh;
}
