@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.container {
  display: flex;
  align-items: center;

  height: 90px;
  .searchBox {
    display: flex;
    align-items: center;

    font-size: 16px;

    border-radius: 30px;
    border: 1px solid var(--color-border);
    padding: 0 20px;
    width: 25%;
    height: 50px;

    transition-property: box-shadow, width;
    transition-duration: 0.5s;

    &:focus-within {
      width: 35%;
      border-color: var(--color-border-hover);
      box-shadow: 0 0 15px var(--color-border-hover);
    }

    &::placeholder {
    }

    span {
      display: flex;
      align-items: center;

      font-size: 20px;

      width: 40px;
      height: 34px;
      border: none;
      background-color: unset;

      margin-right: 4px;
      padding-bottom: 4px;
    }
    input {
      width: 100%;
      background-color: var(--color-bg1);
      color: var(--color-text90);
      padding: 4px 0;
      border: none;
      &::placeholder {
        color: var(--color-text3);
      }
    }
    input:focus {
      outline: none;
    }
  }
  .postButton {
    margin-left: auto;
    padding: 12px;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    color: aliceblue;

    background-color: var(--color-main);

    cursor: pointer;
  }
}
