@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.container {
  position: relative;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  height: 380px;
  overflow: hidden;

  transition-property: transform, box-shadow;
  transition-duration: 0.25s;

  .bookmarkButton {
    position: absolute;
    left: 86%;
    bottom: 90%;

    display: flex;
    border: none;
    padding: 6px 8px;
    background-color: unset;

    cursor: pointer;

    svg {
      font-size: 20px;
      color: var(--color-pink);
    }
  }

  &:hover {
    border-color: var(--color-border-hover);
    box-shadow: 0 0 15px var(--color-border-hover);
    transform: translate(0, -5px);
  }

  .image {
    background-color: white;
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;

    cursor: pointer;
  }

  .textContainer {
    padding: 0 1rem;

    cursor: pointer;

    .titleBox {
      display: flex;
      align-items: center;

      margin: 0.75rem 0;

      .title {
        overflow: hidden;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;

        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .new {
        color: var(--color-pink);
        font-size: 14px;
        margin-left: 6px;
      }
    }
    .summary {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: 14px;

      /* 여러 줄 자르기 추가 스타일 */
      white-space: normal;
      line-height: 1.2;
      height: 3.6em;
      text-align: left;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .stacks {
      display: flex;
      margin: 0.75rem 0;
      height: 22px;

      div {
        box-sizing: border-box;
        margin-right: 0.4rem;
        font-size: 12px;
        padding: 4px 8px;
        background-color: var(--color-bg2);
        color: var(--color-text3);
        border-radius: 0.2rem;
      }
      .ellipsis {
        color: var(--color-text3);
        padding-top: 2px;
      }
    }
  }
  .informations {
    display: flex;
    align-items: center;

    padding: 0.6rem 1rem;

    font-size: 14px;
    color: var(--color-text90);

    border-top: 1px solid var(--color-border);
    span {
      margin: 0 4px;
    }
  }
}
