.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;

  margin-top: 50px;
}
.observer {
  height: 30px;
  margin: 30px 0;
  background-color: red;
}
