.container {
  border-top: 1px solid rgba(226, 232, 240);
  background-color: rgba(226, 232, 240, 0.3);
  height: 50vh;
  padding-top: 1.4rem;
  min-height: 480px;
}

.contentConunt {
  color: #94a3b8;
  font-weight: 500;
  padding-left: 0.8rem;
}

.postType {
  padding: 6px;
  border-radius: 5px;
  background-color: rgb(152, 152, 152);
}

.bookMarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;

  .image {
    width: 100px;
    height: 100px;
  }

  .noContent {
    color: #64748b;
    margin-top: 2rem;
  }
}
