.container {
  border-top: 1px solid rgba(226, 232, 240);
  background-color: rgba(226, 232, 240, 0.3);
  height: 50vh;
  padding-top: 1.4rem;
}

.contentConunt {
  color: #94A3B8;
  font-weight: 500;
  padding-left: 0.8rem;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  
  .image {
    width: 100px;
    height: 100px;
  }

  .noContent {
    color: #64748B;
    margin-top: 2rem;
  }
}