@import '/src/variables.scss';

.listContainer {
  display: flex;
  margin-bottom: 32px;
  flex-direction: column;
  gap: 1rem;
  padding: 24px 24px 24px 24px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background-color: #ffff;
  cursor: pointer;

  .topContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    div:nth-child(1) {
      display: flex;
      gap: 12px;
      align-items: center;
      .bookmarkButton {
        display: flex;
        border: none;
        padding: 6px 8px;
        background-color: unset;
        cursor: pointer;
        svg {
          font-size: 18px;
          color: $main-color;
        }
      }
    }
  }
  .secondContainer {
    width: 100%;
    font-size: 24px;
    font-weight: 550;
    line-height: 2.2rem;
    .title {
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .newTag {
      margin-left: 8px;
      align-self: center;
      font-size: 14px;
      color: $blue;
    }
  }

  .summary {
    font-size: 18px;
    line-height: 1.6rem;
  }

  .stacksContainer {
    display: inline;
    line-height: 1.5rem;
    font-size: 16px;
    color: rgb(130, 141, 157);
    font-weight: 500;
    span {
      display: inline;
      width: fit-content;
    }

    span::after {
      display: inline;
      margin-left: 8px;
      margin-right: 8px;
      content: '|';
      color: #b9aba7;
    }
    li::after {
      margin-left: 8px;
      margin-right: 8px;
      content: '/';
    }
    li:last-child::after {
      content: none;
    }
    ul {
      display: inline;
    }
    ul > li {
      display: inline;
    }
  }

  .countContainer {
    display: flex;
    font-size: 14px;
    color: rgb(168, 180, 197);
    li {
      span:nth-child(1) {
        margin-right: 4px;
      }
    }
    li::after {
      margin-left: 4px;
      margin-right: 4px;
      content: '·';
    }
    li:last-child::after {
      content: none;
    }
  }
}

.listContainer:hover {
  border-color: #d0dee0;
  box-shadow: 0 0 15px #e2eaf1;
}
