.container {
  border-top: 1px solid rgba(226, 232, 240);
  background-color: rgba(226, 232, 240, 0.3);
  min-height: 480px;
  padding-top: 1.4rem;
  
  .topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .contentCount {
    color: #94a3b8;
    font-weight: 500;
    padding-left: 0.8rem;
  }
}


.posts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 3rem 2rem;

  ul {
    width: 100%;
  }

  ul > div {
    display: flex;
    flex-direction: column;
  }

  .postType {
    width: fit-content;
    margin-bottom: 6px;
    font-size: 12px;
    padding: 6px;
    border-radius: 5px;
    color: rgb(152, 152, 152);
    background-color: rgb(223, 223, 223);
    cursor: pointer;
  }

  .noContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    
    .image {
      align-self: center;
      padding: 5rem, 0 0 0;
      width: 100px;
      height: 100px;
    }

    .noContent {
      color: #64748b;
      margin-top: 2rem;
    }
  }
}
