.container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  & > div {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: gray;
    padding-bottom: 1.2rem;

    &:hover {
      color: black;
      border-bottom: 2px solid black;
    }
  }
  
  & > div.active {
    color: black;
    border-bottom: 2px solid black;
  }
}