@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.stickyButtonWrapper {
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 9999;

  .chatContainer {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 400px;
    height: 600px;
    background-color: var(--color-bg2);
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color-pink);
      border-radius: 20px 20px 0 0;
      height: 60px;

      & > div {
        color: white;
        font-weight: 600;
        margin-left: 1rem;
      }

      & > svg {
        fill: white;
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        cursor: pointer;
      }
    }

    .body {
      height: 540px;
      border-radius: 0 0 20px 20px;

      .question {
        width: fit-content;
        border-radius: 10px;
        padding: 1rem;
        color: var(--color-text1);
        background-color: var(--color-bg1);
        margin: 1rem;
      }

      .questionWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1rem;

        .questionButton {
          border-radius: 40px;
          padding: 0.4rem 0.8rem;
          margin: 0 0.6rem 0.4rem 0;
          color: var(--color-pink);
          background-color: var(--color-bg1);
          border: 1px solid var(--color-pink);
          transition: all 0.2s;
          cursor: pointer;
          font-size: 0.9rem;

          &:hover {
            color: white;
            background-color: var(--color-pink);
          }
        }
      }

      .answer {
        @extend .question;
        line-height: 1.4rem;
        word-break: keep-all;
      }

      .link {
        width: fit-content;
        border-radius: 40px;
        padding: 0.4rem 0.8rem;
        margin: 1rem;
        color: var(--color-pink);
        background-color: var(--color-bg1);
        border: 1px solid var(--color-pink);
        transition: all 0.2s;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .chatButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: #e9e0fd;
    border: 0.5px solid #dcd3f1;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px 2px 15px #d4dade;
    cursor: pointer;

    & > img {
      width: 30px;
      height: 30px;
    }
  }
}
