.slideArea {
  width: 1024px;
  overflow: hidden;
  position: relative;
  .bannerList {
    display: flex;
    transition: transform 1s ease;
    
    .bannerItem {
      flex: none;
      display: flex;
      justify-content: space-between;
      width: 1024px;
      background-color: rgb(244, 244, 244);
      .bannerText {
        display: flex;
        flex-direction: column;
        padding: 3rem 4rem;
        .tag {
          margin: 2rem 0;
          font-size: 30px;
          font-weight: 600;
        }
  
        .mainTitle {
          font-size: 18px;
          font-weight: 400;
          margin: 0.8rem 0;
        }
  
        .subTitle {
          font-size: 18px;
          font-weight: 200;
        }
      }
    }
  }

  .leftArrow {
    position: absolute;
    padding-left: 1rem;
    top: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    & > svg {
      font-size: 20px;
    }
  }

  .rightArrow {
    @extend .leftArrow;
    right: 0;
    padding-right: 1rem;

    & > svg {
      font-size: 20px;
    }
  }
}
