@use '/src/theme.scss' as *;
@import '/src/variables.scss';
.bannerContainer {
  position: relative;
  margin: 0 calc((100vw - 100%) * -0.5);
  background-color: var(--color-bg2);
}
.slideArea {
  width: 1024px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  .bannerList {
    display: flex;
    transition: transform 1s ease;

    .bannerItem {
      flex: none;
      display: flex;
      justify-content: space-between;
      width: 1024px;

      .bannerText {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;

        .tag {
          width: fit-content;
          text-align: center;
          margin: 1rem 0;
          font-size: 16px;
          font-weight: 400;
          padding: 8px 12px;
          border-radius: 4px;
          background-color: #a189ff;
          color: white;
        }

        .mainTitle {
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 0.8rem;
          color: var(--color-text1);
        }

        .subTitle {
          margin-top: 1rem;
          font-size: 18px;
          font-weight: 400;
          color: var(--color-text2);
        }
      }
      img {
        transform: scale(0.8);
      }
    }
  }

  .indicatorContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    .indicator {
      border: none;
      background-color: var(--color-text3);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 1rem;
      cursor: pointer;
    }

    .active {
      background-color: var(--color-text2);
    }
  }
}

@media screen and (max-width: 375px) {
  .bannerContainer {
    .slideArea {
      width: 100%;
      
      .bannerList {
        margin-bottom: 1.5rem;
        .bannerItem {
          width: 100%;

          img {
            display: none;
          }

          .bannerText {
            padding: 2rem;

            .tag {
              font-size: 0.7rem;
            }

            .mainTitle {
              font-size: 1rem;
            }

            .subTitle {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
