.bannerContainer {
  position: relative;
  margin: 0 calc((100vw - 100%) * -0.49);
  background-color: rgb(244, 244, 244);
}
.slideArea {
  width: 1024px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  .bannerList {
    display: flex;
    transition: transform 1s ease;

    .bannerItem {
      flex: none;
      display: flex;
      justify-content: space-between;
      width: 1024px;

      .bannerText {
        display: flex;
        flex-direction: column;
        padding: 3rem 4rem;

        .tag {
          margin: 2rem 0;
          font-size: 30px;
          font-weight: 600;
        }

        .mainTitle {
          font-size: 18px;
          font-weight: 400;
          margin: 0.8rem 0;
        }

        .subTitle {
          font-size: 18px;
          font-weight: 200;
        }
      }
    }
  }

  .indicatorContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    .indicator {
      border: none;
      background-color: rgb(0, 0, 0, 0.2);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 1rem;
      cursor: pointer;
    }

    .active {
      background-color: rgb(0, 0, 0, 0.6);
    }
  }
}
