@import '/src/variables.scss';

.container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid #e8e8e8;
  background-color: rgb(255, 255, 255);
  .contentsContainer {
    align-items: center;
    margin: 0 16px;
    width: 1224px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .leftContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      height: 100%;

      .logo {
        cursor: pointer;
        font-size: 28px;
        font-weight: 800;
      }

      ul {
        align-self: center;
        display: flex;
        gap: 24px;
        li {
          cursor: pointer;
        }
      }
      a {
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        span {
          color: #64748b;
          font-weight: 500;
          padding: 16px;
          &:hover {
            color: black;
          }
        }
      }
      .active {
        box-sizing: border-box;
        color: black;
        border-bottom: 3px solid $main-color;
      }
    }
    .rightContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .notLoggedIn {
        display: flex;
        flex-direction: row;
        align-items: center;
        button {
          text-align: center;
          padding: 0 8px;
          display: flex;
          border: none;
          font-size: 15px;
          color: #252525;
          cursor: pointer;
          background-color: unset;
        }
        button:first-child {
          margin-right: 6px;
        }
        span {
          color: #cfcfcf;
        }
        button:last-child {
          margin-left: 6px;
        }
      }
      .userButton {
        box-sizing: content-box;
        width: 48px;
        height: 48px;
        text-align: center;
        padding: 0 8px;
        display: flex;
        border: none;
        color: #252525;
        cursor: pointer;
        background-color: unset;
        img {
          width: 48px;
          height: 48px;
          border: 2px solid $main-color;
          border-radius: 50%;
          color: #87929c;
          align-self: center;
        }
      }
      button {
        margin-left: 16px;
      }
    }
  }
}
