@import '/src/variables.scss';

.ulContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    width: 150px;
    color: var(--color-text1);
    font-weight: 400;
    cursor: pointer;
  }
  hr {
    border: none;
    border-top: 1px solid var(--color-border);
    margin: 10px 0;
  }
}
