@use '/src/theme.scss' as *;
@import '/src/variables.scss';

.ulContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    width: 150px;
    color: var(--color-text2);
    font-weight: 400;
    cursor: pointer;
  }
}
