.postButton {
  position: relative;
  z-index: 1;
  align-self: flex-start;
  padding: 12px 16px 12px 16px;
  font-size: 16px;
  color: aliceblue;
  border: none;
  border-radius: 8px;
  background-color: #6636da;
  cursor: pointer;
}

.nonePostButton {
  display: none;
}

@media (max-width: 768px) {
  .postButton {
    align-self: auto;
  }
}
