.postButton {
  position: relative;
  z-index: 1;
  align-self: flex-start;
  padding: 12px 16px;
  font-size: 14px;
  color: aliceblue;
  border: none;
  border-radius: 8px;
  background-color: #6636da;
  cursor: pointer;
}

.nonePostButton {
  display: none;
}

.mobileContainer {
  position: fixed;
  z-index: 999;
  bottom: 7.5rem;
  right: 2rem;
  button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 2px 15px #e9ebec2b;
  }
}
