@use '/src/theme.scss' as *;

.container {
  padding: 1.4rem;

  .countText {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-text1);
  
    .count {
      color: var(--color-pink);
    }
  }

  .desc {
    color: var(--color-text2);
    text-align: center;
    margin-top: 0.4rem;
  }
  
  .titleContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 0.4rem 0;
    margin-top: 1.4rem;
  
    .title {
      color: var(--color-text1);
      line-height: 1.2rem;
      padding: 0.4rem 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
  
      &:hover {
        color: var(--color-pink);
      }
    }
  }
}
