@use '/src/theme.scss' as *;

.container {
  padding: 1.4rem;

  .countText {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-text1);
  
    .count {
      color: var(--color-pink);
    }
  }

  .desc {
    color: var(--color-text2);
    text-align: center;
    margin-top: 0.4rem;
  }
  
  .titleContainer {
    max-height: 300px;
    overflow-y: auto;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 0.4rem 0;
    margin-top: 1.4rem;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      height: 30%;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-bg2);
      border-radius: 8px;
    }
  
    .titleList {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  
    .title {
      max-width: 480px;
      color: var(--color-text1);
      line-height: 1.2rem;
      padding: 0.4rem 0;
      margin-right: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
  
      &:hover {
        color: var(--color-pink);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 60vw;
    padding: 1rem;
    .countText {
      font-size: 1rem;
      word-break: keep-all;
    }
    .desc {
      font-size: 0.8rem;
      word-break: keep-all;
    }
    .titleContainer {
      .title {
        font-size: 0.9rem;
      }
    }
  }
}