.container {
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    display: flex;
    flex-direction: column;
  }
  .secondContainer {
    display: flex;
    gap: 32px;
    .searchUserListContainer {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 16px;
      input {
        height: 42px;
        font-weight: normal;
        font-size: normal;
        border: 1px solid var(--color-border);
        border-radius: 8px;
        padding: 4px 12px;
      }
      ul {
        flex-grow: 1;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 250px;
        overflow: scroll;
        overflow-x: hidden;
        border-radius: 12px;
        border: 1px solid var(--color-border);
      }
      ::-webkit-scrollbar {
        background-color: transparent;
        width: 16px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: var(--color-border);
        border-radius: 30px;
        border: 4px solid var(--color-bg1);
      }
    }

    .selectedUsersContainer {
      .topContainer {
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
          font-size: 15px;
          font-weight: 500;
          color: var(--color-pink);
        }
      }

      padding: 8px;
      width: 50%;
      background-color: var(--color-bg2);
      border-radius: 8px;

      ul {
        height: auto;
        margin: 12px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--color-bg1);
        border-radius: 8px;
      }
    }
  }
}
