.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;

  .mainFormContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 32px 42px 0 42px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .title {
      width: fit-content;
      background-color: rgb(255, 128, 0);
      padding: 8px 16px;
      font-size: 14px;
      border-radius: 8px;
      color: rgb(255, 255, 255);
    }

    .topContainer {
      width: 100%;
      flex-grow: 1;
      display: flex;
      gap: 42px;
      div:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
    label {
      display: flex;
      flex-direction: column;
      div:nth-child(2) {
        display: flex;
        width: 100%;
        input {
          flex-grow: 1;
          height: 42px;
          font-weight: normal;
          font-size: normal;
          border-radius: 8px;
          padding: 4px 12px;
          &:focus {
            border: 2px solid #dfd6ff;
            outline-style: none;
          }
        }
      }
    }
    .required::after {
      content: ' *';
      color: var(--color-red);
    }

    .inputTop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 18px;
    }

    .gitHubContainer {
      margin-top: 30px;
      width: 55%;
    }

    .stacksContainer {
      margin-top: 30px;
      .stacksTitle {
        margin-bottom: 0;
      }
      div {
        font-weight: 400;
      }

      .stacksContainer > div:nth-child(3) {
        width: 100%;
      }
    }
  }

  .buttonsContainer {
    box-sizing: border-box;
    box-shadow: 0 -5px 10px var(--color-border);
    border-radius: 16px 16px 0 0;
    padding: 16px;
    width: 100%;
    flex-grow: 1;
    position: sticky;
    z-index: 9999;
    bottom: 0;
    display: flex;
    background-color: var(--color-bg1);
    justify-content: space-between;

    button {
      font-size: 14px;
      align-self: center;
      padding: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .importButton {
      width: 200px;
      background-color: var(--color-bg2);
      color: var(--color-text1);
    }

    .saveButton {
      border: 1px solid var(--color-pink);
      background-color: var(--color-bg1);
      color: var(--color-pink);
    }

    .submitButton {
      box-sizing: border-box;
      width: 25%;
      color: white;
      background-color: var(--color-main);
    }

    div {
      width: 100%;
      display: flex;
      justify-content: end;
      gap: 12px;
    }
  }
  input {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg1);
    color: var(--color-text1);
    font-weight: 400;
  }
}
