@use './src/theme.scss' as *;
@import './src/variables.scss';

.footerContainer {
  background-color: var(--color-bg2);
  color: var(--color-text2);
  padding: 80px 0;
  position: relative;
  margin: 0 calc((100vw - 100%) * -0.5);
}
.footerTop {
  width: 1024px;
  margin: 0 auto 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-text3);
  img {
    filter: grayscale(100%) brightness(100%);
  }
}
.footerMain {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  .contact {
    width: 20rem;
  }
  .menuList {
    width: 12rem;
  }
  .linkMenu {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text2);
    gap: 4px;
    &:hover {
      text-decoration: 0;
    }
  }
  h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  span {
    font-size: 13px;
    strong {
      margin-left: 4px;
      color: var(--color-text2);
    }
  }
  a {
    font-size: 13px;
    text-decoration: none;
    color: var(--color-text3);
    &:hover {
      text-decoration: underline;
    }
  }
}
.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 1024px;
  margin: 40px auto 0;
  .teamInfo {
    p {
      font-size: 13px;
      color: var(--color-text2);
      margin-bottom: 8px;
    }
  }
  div {
    svg {
      color: var(--color-text3);
      cursor: pointer;
      &:hover {
        color: var(--color-text2);
      }
    }
  }
}

@media (max-width: 768px) {
  .footerContainer {
    color: var(--color-text2);
    position: relative;
    margin: 0 calc((100vw - 100%) * -0.5);
    padding: 40px;
  }
  .footerTop {
    width: 100%;
    img {
      filter: grayscale(100%) brightness(100%);
    }
  }
  .footerMain {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .contact {
      width: 20rem;
    }
    .menuList {
      display: flex;
      width: 12rem;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .linkMenu {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      gap: 4px;
      &:hover {
        text-decoration: 0;
      }
    }
    h3 {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 10px;
      margin-right: 10px;
    }
    h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }
    span {
      font-size: 11px;
      strong {
        margin-left: 4px;
      }
    }
    a {
      font-size: 11px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footerBottom {
    display: none;
  }
}
