@import '/src/variables.scss';

.footerContainer {
  background-color: #fafafa;
  color: #616161;
  padding: 80px 0;
  position: relative;
  margin: 0 calc((100vw - 100%) * -0.5);
}
.footerTop {
  width: 1024px;
  margin: 0 auto 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
  img {
    filter: grayscale(100%) brightness(100%);
  }
}
.footerMain {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  .contact {
    width: 20rem;
  }
  .menuList {
    width: 12rem;
  }
  .linkMenu {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #616161;
    gap: 4px;
    &:hover {
      text-decoration: 0;
    }
  }
  h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  span {
    font-size: 13px;
    strong {
      margin-left: 4px;
      color: #9e9e9e;
    }
  }
  a {
    font-size: 13px;
    text-decoration: 0;
    color: #9e9e9e;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 1024px;
  margin: 40px auto 0;
  .teamInfo {
    p {
      font-size: 13px;
      color: #9e9e9e;
      margin-bottom: 8px;
    }
  }
  div {
    svg {
      color: #9e9e9e;
      cursor: pointer;
      &:hover {
        color: #616161;
      }
    }
  }
}
