@use '/src/theme.scss' as *;

.container {
  border-top: 1px solid var(--color-border-hover);
  background-color: var(--color-bg2);
  min-height: 500px;
  padding-top: 1.4rem;

  .topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contentCount {
    color: var(--color-text3);
    font-weight: 500;
    padding-left: 0.8rem;
  }
}

.posts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 3rem 2rem;

  ul {
    width: 100%;
  }

  ul > div {
    display: flex;
    flex-direction: column;
  }

  .noContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    .image {
      align-self: center;
      padding: 5rem, 0 0 0;
      width: 100px;
      height: 100px;
    }

    .noContent {
      color: var(--color-text2);
      margin-top: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .contentCount {
      margin-left: 10px;
    }
  }
}

