@import '/src/variables.scss';
.container {
  margin: 0 auto;
  width: 768px;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    min-height: calc(100vh - $mobile-header-height);
  }
}