@use '/src/theme.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
  }

  .sub {
    margin-top: 50px;
    font-size: 23px;
  }

  .introBox {
    width: 60%;
    height: 100px;
    border: 1px solid var(--color-bg2);
    border-radius: 10px;
    background-color: var(--color-bg2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    padding: 10px;
  }

  .notice {
    width: 60%;
    height: 100px;
    border: 1px solid var(--color-red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    padding: 10px;

    background-color: rgba($color: #e00c0c50, $alpha: 0.1);
  }

  .selectBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin-top: 10px;
      width: 60%;
      height: 50px;
      font-size: 16px;
      border: 1px solid var(--color-bg2);
      background-color: var(--color-bg2);
      color: var(--color-text1);
    }
  }

  .password {
    margin-top: 10px;

    input {
      width: 200px;
      margin-right: 5px;
      margin-left: 20px;
      background-color: var(--color-bg1);
      border: 1px solid var(--color-pink2);
      color: var(--color-text1);
    }

    .icon {
      border: none;
      border-radius: 5px;
      background-color: var(--color-pink2);
    }
  }

  .buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 70px;
    gap: 20px;

    width: 60%;

    .cancelButton {
      width: 140px;
      height: 50px;

      border: none;
      border-radius: 10px;
      color: var(--color-bg1);
      background-color: var(--color-pink);

      font-size: 16px;
      font-weight: 600;

      cursor: pointer;

      &:hover {
        scale: 1.05;
      }
    }
    .deleteButton {
      width: 140px;
      height: 50px;

      border: none;
      border-radius: 10px;
      color: var(--color-bg1);
      background-color: var(--color-red);

      font-size: 16px;
      font-weight: 600;

      cursor: pointer;

      &:hover {
        scale: 1.05;
      }
    }
  }
}
