@use '/src/theme.scss' as *;
@import '/src/variables.scss';

@mixin logo-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;

  background-color: var(--color-bg2);

  cursor: pointer;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 475px;
  height: 225px;

  transition: all 0.5;

  .closeButton {
    margin-left: auto;
    margin-right: 18px;

    border: none;
    background-color: rgb(255, 255, 255, 0);

    cursor: pointer;
  }

  .modalText {
    font-size: 22px;
    color: var(--color-text90);
    text-align: center;

    width: 450px;
    padding-bottom: 30px;

    border-bottom: 1px var(--color-text2) solid;
  }

  .modalButtonBox {
    display: flex;
    margin-top: 30px;
    .kakaoLogoCircle {
      @include logo-circle;

      margin: 0 16px;

      color: #3c1e1e;
      background-color: #ffeb00;
      .logo {
        fill: #3c1e1e;
        font-size: 32px;
      }
    }
    .facebookLogoCircle {
      @include logo-circle;

      margin: 0 16px;

      color: #ffffff;
      background-color: #1877f2;
      .logo {
        fill: #ffffff;
        font-size: 32px;
      }
    }
    .twitterLogoCircle {
      @include logo-circle;

      margin: 0 16px;

      color: #ffffff;
      background-color: #1da1f2;
      .logo {
        fill: #ffffff;
        font-size: 32px;
      }
    }
    .linkLogoCircle {
      @include logo-circle;

      margin: 0 16px;

      color: var(--color-text90);
      .logo {
        fill: #d3d3d3;
        font-size: 32px;
      }
    }
  }
}

.urlTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;
  height: 60px;

  span {
    color: var(--color-text90);

    font-size: 14px;

    line-height: 27px;
  }
  textarea {
    height: 30px;
    width: 400px;
    text-align: center;
    white-space: nowrap;
    overflow: auto;

    font-size: 20px;

    margin: 0;
    line-height: 15px;

    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.container {
  display: flex;
  align-items: center;

  height: 20px;
  margin-left: auto;

  cursor: pointer;

  .logoCircle {
    @include logo-circle;

    margin-right: 6px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    border-radius: px;
  }

  p {
    color: var(--color-text3);
    padding-bottom: 2px;
  }
}
