@use '/src/theme.scss' as *;
@import '/src/variables.scss';
@import '/src/assets/fonts/font.module.scss';

*,
body {
  font-family: 'Noto Sans KR', sans-serif;
}

// body {
//   overflow-x: hidden;
// }

.container {
  padding-top: $header-height;
  flex-grow: 1;
  position: relative;
}

.darkMode {
  background-color: var(--color-bg1);
  color: var(--color-text1);
}
