@import '/src/variables.scss';
@import '/src/assets/fonts/font.module.scss';

*,
body {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  margin-top: $header-height;
  max-width: 1024px;
  flex-grow: 1;
  position: relative;
}
