@use './src/theme.scss' as *;
@import '/src/variables.scss';

.container {
  width: 500px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 18px;
    font-weight: 600;
    padding: 1.4rem 0;
  }

  .stackContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    .stackWrapper {
      display: flex;
      flex-direction: row;
      background-color: var(--color-main);
      border-radius: 100px;
      color: white;
      margin: 0 0.6rem 0.6rem 0;
      font-size: 12px;

      .selectedStack {
        display: flex;
        align-items: center;
        padding: 0.4rem 0 0.4rem 0.6rem;
        word-break: keep-all;
        cursor: pointer;

        .deleteButton {
          padding: 0 0.4rem;
        }
      }

      .duplicateStack {
        padding: 0.4rem 0.6rem;
        word-break: keep-all;
        border: 1.4px solid var(--color-main);
        border-radius: 100px;
        cursor: pointer;
      }

      .uniqueStack {
        padding: 0.4rem 0.6rem;
        word-break: keep-all;
        color: var(--color-pink);
        background-color: var(--color-bg1);
        border: 1.4px solid var(--color-pink);
        border-radius: 100px;
        cursor: pointer;
      }
    }
  }

  .inputContainer {
    position: relative;

    .input {
      width: 450px;
      border: 1px solid var(--color-border);
      background-color: var(--color-bg1);
      color: var(--color-tex1);
      border-radius: 6px;
      outline: none;
      height: 40px;
      padding-left: 1rem;
      padding-right: 36px;

      &:focus {
        border: 1px solid #dfd6ff;
        outline: none;
      }
    }

    .searchButton {
      position: absolute;
      top: 18px;
      right: 15px;
      cursor: pointer;
      color: var(--color-text1);
    }
  }

  .suggestionContainer {
    max-height: 200px;
    overflow-y: auto;
    padding-left: 2px;
    border-radius: 0 0 8px 8px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      height: 30%;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-bg2);
      border-radius: 0 0 8px 0;
    }

    .suggestion {
      font-size: 12px;
      padding: 1rem;
      background-color: var(--color-bg2);
      border-bottom: 1px solid rgba(var(--color-border), 0.3);
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    width: 390px;
    margin: 0;
    .stackContainer {
      width: 100%;
    }
    .inputContainer {
      width: 100%;
      .input {
        margin-right: 0;
        padding-right: 0;
        width: 95%;
      }
    }
  }
}

@media (max-width: 390px) {
  .container {
    width: 320px;
    margin: 0;
    .stackContainer {
      width: 100%;
    }
    .inputContainer {
      width: 100%;
      .input {
        margin-right: 0;
        padding-right: 0;
        width: 95%;
      }
    }
  }
}
